#parse("dashboard.html")
#@mainLayout()

<div class="row">
    <div class="col-md-4 offset-md-8">
        <form action="/medias/" method="get">
            <div class="form-group has-btn">
                <input type="search" id="search" name="title" class="form-control"
                       placeholder="Rechercher un film ou une série">

                <button type="submit" class="btn btn-block bg-red">Valider</button>
            </div>
        </form>
    </div>
</div>


<div style="font-weight: bold">Films</div>
<div class="media-list">
    #foreach($media in $medias)
    #if($media.getTypeId() == 1)
    <a class="item" href="/medias/$media.getId()">
        <div class="poster">
            <img src="$media.getPosterUrl()">

        </div>
        <div class="title">$media.getTitle()</div>
        <div class="informations">$media.getReleaseDate()</div>
        <div class="informations">$media.getDuration() minutes</div>
    </a>
    #end
    #end
</div>

<div style="font-weight: bold">Séries</div>
<div class="media-list">
    #foreach($media in $medias)
    #if($media.getTypeId() == 2)
    <a class="item" href="/medias/$media.getId()">
        <div class="poster">
            <div>
                <img src="$media.getPosterUrl()"/>
            </div>
        </div>
        <div class="title">
            $media.getTitle()
        </div>
    </a>
    #end
    #end
</div>
#end