#parse("dashboard.html")
#@mainLayout()

<form method="POST" action="/profil" class="custom-form" id="new_email_form">

    <div class="form-group">
        <label for="profil_email">Adresse email</label>
        <input type="email" name="profil_email1" value="" id="profil_email" class="form-control" required/>
    </div>

    <div class="form-group">
        <label for="new_email">Nouvelle adresse email</label>
        <input type="email" name="new_email" value="" id="new_email" class="form-control" />
    </div>

    <div class="form-group">
        <label for="profil_password">Mot de passe</label>
        <input type="password" name="profil_password" id="profil_password" class="form-control" required/>
    </div>

    <div class="form-group">
        <label for="new_password">Nouveau mot de passe</label>
        <input type="password" name="new_password" id="new_password" class="form-control" />
    </div>

    <div class="form-group">
        <div class="row">
            <div class="col-md-6">
                <input type="submit" name="validate" class="btn btn-block bg-red" />
            </div>
            <div class="col-md-6">
                <a href="/profil" class="btn btn-block bg-blue">Retour</a>
            </div>
        </div>
    </div>
</form>
#end
